<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='cardh.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='landing.css')}}">
  <title>Home</title>
</head>
<body>
  <img id="new-img" src="{{ url_for('static',filename='some2.png') }}" height="75px" width="75px" >
      <div id="header">
         <div id="logo">
          <h3><span>Vita</span> Max</h3>
         </div>
         <nav>
            <a href="{{url_for('mainn')}}">HOME</a>
            <a href="{{url_for('land_func')}}">CHAT</a>
             
            <a href="{{ url_for('home') }}">GET STARTED</a>
         </nav>
      </div>
      <center>
  <div class="page-container">
    
    <div class="page">
      <div class="card-container" onclick="moveF()">
        <div class="card" id="card1">
  <ion-icon name="code-slash-outline"></ion-icon>
          <h6>BMI Calculator</h6>
          <p>Body Mass Index is a simple calculation using a person's height and weight.</p>
          <button class="more" id="b1">Click Here</button>
        </div>
        <div class="card" id="card2">
  <ion-icon name="color-palette-outline"></ion-icon>
          <h6>Vitamin Deficiency Test</h6>
          <p>Know about your vitamin defficiences by taking a short survey.</p>
          <button class="more" id="b2">Click Here</button>
        </div>
        <div class="card" id="card3">
  <ion-icon name="speedometer-outline"></ion-icon>
          <h6>Know More About Vitamins</h6>
          <p>Know more about the different types of vitamins, their uses and foods.</p>
          <button class="more" id="b3">Click Here</button>
        </div>
        
      </div>
    </center>
    </div>
    <button onclick="moveB()" id="btn">Cancel</button>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="{{url_for('static',filename='cardh.js')}}"></script>
</body>

<footer id="footer">
  <svg viewBox="0 0 60 14">
   <defs> 
     <mask id="xxx">
       <circle cx="7" cy="12" r="40" fill="#fff" />
     </mask>
     
     <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="
             1 0 0 0 0  
             0 1 0 0 0  
             0 0 1 0 0  
             0 0 0 13 -9" result="goo" />
        <feBlend in="SourceGraphic" in2="goo" />
      </filter>
       <path id="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
    </defs> 
  
     <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2" ></use> 
     <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0" ></use>
   
    
    <g class="gooeff">
    
      <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />
    
      <!-- g mask="url(#xxx)">
      <path   id="wave1"  class="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
      </g>
    </g -->
  
  </svg>
  
    
  </footer>
</html>